html
head
  meta(charset="utf-8")
  script(src="lib/underscore/underscore.js")
  script(src="lib/jquery/jquery.js")
  script(src="lib/backbone/backbone.js")
  script(src="lib/backbone.localStorage/backbone.localStorage.js")
  script(src="javascripts/app/addressbook.js")

body
  div(id="app")
    h1 Address Book
    input(id="new-address" type="text" size="30" placeholder="Input name and press enter.")
    div(id="addressbook")
      ul(id="list")

    button(id="delete-all", name="Delete all")

